sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package Control.last-run
sublime3/User/Package\ Control.sublime-settings
sublime3/User/Package Control.last-run
sublime3/User/Package\ Control.cache/*
sublime3/User/GoSublime/osx-x64/log.txt
git/gitconfig.symlink
*.exe
